
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>© Arbas Ali.</p>
    <a href="https://api.whatsapp.com/send/?phone=+918919785682&text&app_absent=0&lang=en" target="_blank"><i class="fab fa-whatsapp icon"></i></a>
    <a href="https://www.instagram.com/arbas._.ali/" target="_blank"><i class="fab fa-instagram icon"></i></a>
    <a href="https://www.facebook.com/arbasali01" target="_blank"><i class="fab fa-facebook icon"></i></a>
  </div>
</div>
</body>
</html>
